<li>
    <div class="neos-img-container">
        <a href="{instagramImage.uri}"><img src="{instagramImage.uri}media/?size=t" /><br />
            {instagramImage.username}
        </a>
        <button class="neos-button neos-media-delete instagram-media-delete" title="" data-neos-toggle="tooltip" data-modal="delete-asset-modal" data-label="screenshot.png" data-object-identifier="{instagramImage-> f:format.identifier()}" data-original-title="Delete asset"><i class="icon-trash icon-white"></i></button>
    </div>
</li>