{namespace f=Neos\FluidAdaptor\ViewHelpers}
{namespace neos=Neos\Neos\ViewHelpers}

<f:layout name="Default" />

<f:section name="Title">Instagram Collections</f:section>

<f:section name="Content">
    <div class="instagramMedia">
        <aside class="instagramCollectionList">
            <div class="instagramSearch">
                <div class="form-group">
                    <f:form method="post" id="search-form" action="searchByTag" class="neos-search" format="json">
                        <input type="search" id="search-term" name="{f:if(condition: argumentNamespace, then: '{argumentNamespace}[searchTerm]', else: 'searchTerm')}" placeholder="Search" autofocus="autofocus" />
                        <input type="hidden" id="search-max-id" name="{f:if(condition: argumentNamespace, then: '{argumentNamespace}[max_tag_id]', else: 'max_tag_id')}" />
                        <input type="hidden" id="search-last-term" name="{f:if(condition: argumentNamespace, then: '{argumentNamespace}[searchLastTerm]', else: 'searchLastTerm')}" value="{searchLastTerm}" />

                        <button id="search-submit" type="submit" title="Search in instagram" data-neos-toggle="tooltip"><i class="icon-search"></i></button>
                    </f:form>
                </div>
            </div>

            <f:render partial="InstagramCollectionList" arguments="{'instagramCollections':instagramCollections}"></f:render>

            <div class="collectionAddPanel">
                <f:form method="post" class="createInstagramCollection" action="createInstagramCollection" object="{instagramCollection}" objectName="instagramCollection">
                   <f:form.textfield property="title" class="form-control" placeholder="Enter InstagramCollection title" id="collectionNameID" /><br/>
                   <f:form.submit value="{neos:backend.translate(id: 'add', value: 'Add')}" class="neos-button neos-button-primary" />
                </f:form>
            </div>
        </aside>

        <div class="instagramAssets">
            <div id="instagramSearchResults" style="display:none;">
                <div class="row">
                    <div class="col-xs-12">
                        <ul id="instagramSearchResultsList" class="neos-thumbnails asset-list">
                            <f:for each="{instagramSearchResult.data}" as="searchResult">
                                <li><f:render partial="instagramImage" arguments="{'instagramImage':searchResult}"></f:render></li>
                            </f:for>
                        </ul>
                        <div class="row">
                        <div class="col-xs-12 text-center">
                            <button id="search-more" value="more" class="neos-button neos-button-primary" style="display:none;">More</button>
                        </div>
                        </div>
                    </div>
                </div>
            </div>

            <f:if condition="{instagramCollectionImageList}">
                <div id="instagramCollectionImageList" class="row">
                    <div class="col-xs-12">
                        <ul class="neos-thumbnails asset-list">
                            <f:for each="{instagramCollectionImageList}" as="instagramImage">
                                <li><f:render partial="InstagramCollectionImage" arguments="{'instagramImage': instagramImage}"></f:render></li>
                            </f:for>
                        </ul>
                    </div>
                </div>
            </f:if>
        </div>
    </div>
<div style="clear:both;"></div>
</f:section>

<f:section name="Scripts">
    <f:form method="post" id="link-image-to-instagramcollection-form" class="createInstagramCollection" action="createInstagramImageAndAddToCollection" format="json">
        <f:form.hidden name="shortLink" class="form-control" id="link-image-to-instagramcollection-form-imageShortlink" /><br/>
        <f:form.hidden name="username" class="form-control" id="link-image-to-instagramcollection-form-imageUsername" /><br/>
        <f:form.hidden name="instagramCollection[__identity]" id="link-image-to-instagramcollection-form-imagecollection" />
    </f:form>


    <script type="text/javascript" src="{f:uri.resource(package: 'Neos.Media.Browser', path: 'Libraries/jquery-ui/js/jquery-ui-1.10.3.custom.js')}"></script>
    <script type="text/javascript" src="{f:uri.resource(package: 'Weissheiten.Neos.InstagramMedia', path: 'Scripts/instagramCollections.js')}"></script>
</f:section>