<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:media="http://typo3.org/ns/Neos/Media/ViewHelpers"
      xmlns:ts="http://typo3.org/ns/Neos/Fusion/ViewHelpers"
      xmlns:neos="http://typo3.org/ns/Neos/Neos/ViewHelpers">

<f:section name="instagramCollectionGallery">
    <f:if condition="{instagramImageCollection}">
        <ul>
            <f:for each="{instagramImageCollection}" as="instagramImage">
                <li>
                    <a href="{instagramImage.uri}" target="_blank">
                        <img class="img-responsive ce-iframe" data-image-shortlink="{instagramImage.uri}" data-image-username="{instagramImage.username}" data-ce-src="{instagramImage.uri}media/?size=m" width="180" height="180" /><br />
                        {instagramImage.user.username}
                    </a>
                </li>
            </f:for>
        </ul>
    </f:if>
</f:section>
