<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:media="http://typo3.org/ns/TYPO3/Media/ViewHelpers"
      xmlns:ts="http://typo3.org/ns/TYPO3/TypoScript/ViewHelpers"
      xmlns:neos="http://typo3.org/ns/TYPO3/Neos/ViewHelpers">

<f:section name="instagramCollectionGallery">
    <ul>
    <f:for each="{instagramImageCollection}" as="instagramImage">
        <li>
            <a href="{instagramImage.uri}" target="_blank">
                <img class="draggable-image" data-image-shortlink="{instagramImage.uri}" data-image-username="{instagramImage.username}" src="{instagramImage.uri}media/?size=m" width="180" height="180" /><br />
                {instagramImage.user.username}
            </a>
        </li>
    </f:for>
    </ul>
</f:section>
